.content{
    width: 700px;
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex: 1 1 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: green;
    box-sizing: content-box;
    margin: 0;
    color: white;
    text-align: center;
    line-height: 30px;
}
body{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
footer{
    background-color: black;
    color: white;
    margin: 0;
    margin-top: auto;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    bottom: 0;
}
.redColumn{
    background-color: red;
    margin: 0;
    padding: 5px;
    height: 100%;
    color: white;
    text-decoration: underline;
    display: flex;
}::selection{
    background-color: green;
}
.textSide{
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    word-wrap: break-word;
    text-align: justify;
}
.textSide::selection{
    background-color: green;
}
p{
    margin: 0;
    padding: 0;
}
p::first-letter{
    color: red;
}

ul{
    list-style: none;

    
}
li{
    padding: 10px;
}
@media(max-width:700px){
    .content{
        width: 100%;
    }
}
